:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
  
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    font-size: 20px;
    color: rgb(249, 227, 255);
    background-color: rgb(83, 74, 74);
    border: none;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    opacity:80%;
  
  }